* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-weight: 400;
  font-size: 3rem;
}

h3 {
  font-weight: bold;
  font-size: 1rem;
}

p {
  font-weight: 200;
  font-size: 1rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
}

/* Override Bootstrap Colour */

.btn-primary {
  background-color: #dc8c50;
  border-color: #dc8c50;
  color: white;
}

.nav-link {
  color: #dc8c50;
}

.nav-link:hover {
  background-color: white;
  border-color: #dc8c50;
  color: #dc8c50;
}

#nav-colour {
  background-color: #dc8c50;
  border-color: #dc8c50;
  color: #f8f9fa;
}

.logo {
  width: 5%;
  height: auto;
}

nav {
  margin: 20px;
  align-items: center;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  margin-top: 50px;
  height: 45vh;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.text-container {
  max-width: 60%;
  margin-left: 6rem;
}

.selfie-img {
  max-width: 40%;
  height: auto;
  margin-left: 20px;
}

#get-in-touch-btn {
  margin: 40px 0;
}

/* TOOLS */

.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #ecd0b9;
}

#port-name {
  color: #595959;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin-bottom: 3rem;
  margin-left: 6rem;
  display: flex;
  align-items: flex-end;
  margin-right: 3rem;
}

#port-container {
  display: flex;
  flex-direction: column;
}

.port {
  display: flex;
  gap: 1rem;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 80%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.portfolio-image-1 img,
.portfolio-image-2 img,
.portfolio-image-3 img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

/* TOOLS */

.my-tools-name {
  color: #595959;
  margin-top: 4rem;
  margin-left: 8rem;
  margin-bottom: 4rem;
}

.section-container {
  display: flex;
  align-items: flex-start;
}

.section-container img {
  width: 150px;
  margin-right: 20px;
}

.tools {
  display: flex;
  flex-direction: column;
}

.front-end-tools,
.back-end-tools,
.general-tools {
  margin-bottom: 20px;
  margin-left: 9rem;
}

#computer-image {
  width: 50%;
}

.tool-icon {
  max-width: 15%;
  margin-right: 30px;
  background-color: #ecd0b9;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 50px;
}

.tools-section-name {
  color: #595959;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

/* ABOUT */

.about-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15rem 3rem 5rem;
}

.about {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 40px;
}

.about-me-name {
  text-align: left;
  margin-bottom: 40px;
  color: #595959;
  margin-left: 4rem;
}

.about p {
  margin-left: 4rem;
  color: #333;
  line-height: 1.6;
}

.other-things {
  flex: 1;
}

.other-things-heading {
  color: #595959;
  font-weight: 300;
  font-size: 2rem;
  margin: 30px 0;
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-between;
  height: auto;
  width: auto;
  margin: 0 20px;
}

.item {
  flex: 1;
  text-align: center;
}

.item img {
  width: 50%;
  height: auto;
  padding: 10px;
}

.hiking-row {
  display: flex;
  justify-content: center;
  background-color: #dc8c50;
  height: auto;
  width: auto;
  margin: 0 20px;
}

.hiking-item {
  flex-basis: 50%;
  text-align: center;
}

.hiking-item img {
  width: 50%;
  height: auto;
}

#melodica {
  background-color: #c94927;
}

#cooking {
  background-color: #685d18;
}

#ukelle {
  background-color: #aaa96a;
}

#drawing {
  background-color: #ecd0b9;
}

footer {
  padding: 20px;
  text-align: center;
  background-color: #f8f9fa;
}
